html,
body {
    height: 100%;
    margin: 0;
}

.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    padding: 20px;
}

.card-product {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 280px;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
}

.card-list {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    list-style: none;
}

.card-image {
    width: 250px;
    height: 250px;
    object-fit: contain;
    border-radius: 10%;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 10%;
}

.btn-VerMas {
    padding: 8px 16px;
    border-radius: 999px;
    border: none;
    background-color: #96c17b;
    color: white;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.card-login {
    background-color: #ffffff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    width: 420px;
    max-width: 90%;
    padding: 30px;
    text-align: center;
}

.contenido-producto {
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f6f8;
}

.button-login {
    padding: 8px 16px;
    border-radius: 999px;
    border: none;
    background-color: #96c17b;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-weight: bold;
}

.contenido-nosotros {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-nosotros {
    display: flex;
    padding: 8px 16px;
    border-radius: 999px;
    border: none;
    background-color: #96c17b;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-weight: bold;
}