.form-input {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f6f8;
}

.form-product {
    background-color: #ffffff;
    padding: 32px;
    border-radius: 16px;
    width: 420px;
    max-width: 90%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}


.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
}