.navbar {
    background-color: #96c17b;
    padding: 12px;
}

.navbar-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 6px;
    transition: background-color 0.3s;
}