.contenedor-tarjetas {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.tarjeta {
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    border-radius: 12px;
    padding: 15px;
}

.tarjeta img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10%;
}

h2 {
    background-color: #6f93a9;
    padding: 10px 20px;
    border-radius: 12px;
    display: inline-block;
}

body {
    background: linear-gradient(135deg, #41ace2, #ad90b9);
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}